<!DOCTYPE html>
<html>
    <head>
        Add player
    </head>
    <body>
        <h1> Add new player </h1>
        <form action = "/add_player" method = "POST">
            <label> Player name: </label> <br>
            <input type = "text" id = "name" name="name" required> <br>

            <label> Country_code </label> <br>
            <input type = "text" id = "country_code" name = "country_code" required> <br>

            <label> Gender </label> <br>
            <input type = "text" id = "gender" name = "gender" required> <br>

            <label> Date of Birth: </label> <br>
            <input type "text" id = "dob" name ="dob" required> <br>

            <input type = "submit" value = "Add Player">

        </form>
    </body>
</html>