x<!DOCTYPE html>

<html>
    <head>
        <title>Everyone's result</title>
    </head>

    <style>
        table {
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px 12px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>

    <body>
        <table>
            <tr><th>
                Navigation
            </th></tr>

            <tr><td><a href = "/round1">
                Round 1 scores
            </a></td></tr>

            
            <tr><td><a href = "/round2">
                Round 2 scores
            </a></td></tr>

            
            <tr><td><a href = "/round3">
                Round 3 scores
            </a></td></tr>

            
            <tr><td><a href = "/mean">
                Mean score
            </a></td></tr>

            
            <tr><td><a href = "/qualifiers">
                Qualifiers
            </a></td></tr>


        </table>
    </body>



</html>
